<!DOCTYPE html>
<html>
<head>
    <title>Casino Tung Tung Sahur</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Casino Tung Tung Sahur</h1>

    <img src="/static/tungtungtungsahur.png">

    <div class="buttons">

        <!-- Gamble Button -->
        <form action="/gambling" method="get">

            <input type="hidden" name="balance" value="100">

            <button class="files-button" name="bet" value="0">
                Gamble
            </button>

        </form>

        <!-- Login Button -->
        <form action="/login" method="get">

            <button class="login-button">
                Login
            </button>

        </form>

        <!-- Create Account Button -->
        <form action="/register" method="get">

            <button class="register-button">
                Create Account
            </button>

        </form>

    </div>

</body>
</html>
